fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic

# Auth
python-jose
passlib[bcrypt]

# File Upload
python-multipart
aiofiles

# Realtime
websockets

# AI
google-generativeai

# Utils
requests
